.hidden {
    display:none;}

.center {
    text-align: center;
}

.b0 {
    background-image: url('img/0.jpeg');
}

.b1 {
    background-image: url('img/1.jpeg');
}

.b2 {
    background-image: url('img/2.jpeg');
}

.b3 {
    background-image: url('img/3.jpg');
}

h2 {
    font-size: 100px;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    text-align: right;
}

input {
    border-radius: 15px;
    background: transparent;
}

input::placeholder {
    color: black;
    text-align: center;
}

button {
    border-radius: 15px;
    background: transparent;
}

li {
    list-style-type: none;
}

#saying {
    margin-top: 300px;
    margin-bottom: 0px;
}

